.purchase-section{
    min-height: 88vh;
    color: var(--secondaryGrey);
    margin-bottom: 3rem;
}

.purchase-header{
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--mainGreen);
    text-transform: capitalize;
}

.purchase-txt{
    font-size: 1rem;
}

/*ICON*/
.icon{
    margin-left: 2.5rem;
    color: var(--mainBlue);
}

.icon-background{
    min-height: 8rem;
    min-width: 10rem;
    background: var(--mainGrey);
}

/*PURCHASE CARD*/
.purchase-card{
    height: 17rem;
    width: 25rem;
    border: var(--secondaryGreen) 0.15rem solid;
    border-radius: 5px;
    padding: 1rem;
    text-transform: uppercase;
}

/*CHECK BOX*/
.check-section{
    background: var(--mainGrey);
    min-height: 2.3rem;
    min-width: 12rem;
    padding: 0.5rem;
    border-radius: 7px;
}

.check-text{
    font-size:0.8rem;
    text-transform: lowercase;
}

@media (max-width:500px) {
    section.purchase-section{
        margin-bottom: 1rem;
    }

    h3.purchase-header{
        font-size: 1rem;
    }

    p.purchase-txt{
        font-size: 0.8rem;
    }

    /*PURCHASE CARD*/
    .purchase-card{
        height: 17rem;
        width: 17rem;
        border: var(--secondaryGreen) 0.1rem solid;
        border-radius: 5px;
        padding: 1rem;
        text-transform: uppercase;
    }

    /*CHECK BOX*/
    .check-section{
        background: var(--mainGrey);
        min-height: 2.3rem;
        min-width: 12rem;
        padding: 0.5rem;
        border-radius: 7px;
    }

    .check-text{
        font-size:0.8rem;
        text-transform: lowercase;
    }
}