.flightSection{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flightHeading{
    margin : 0.6rem 0.8rem 0.8rem 4rem;
    text-transform: uppercase;
}

/*    $$$search bar styles      */

.searchBarSection{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    border-right: solid 0.1rem var(--sucessGrey);
}

.searchBar{
    width: 16rem;
    height: 2.5rem;
}

.searchBarTitle{
    font-size: 2.1rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--secondaryGrey);
}


/*      $$$ the viewing section     */

.viewSection{
    flex: 2;
}

.flight{
    border : solid 0.2rem var(--sucessGrey);
    margin : 0.15rem 0;
    border-radius: 7px;
    padding: 1rem 3rem;
}
.flight:hover{
    border-color: var(--mainGreen);
    cursor: pointer;
    padding: 1.1rem 3.1rem;
    transition: linear 0.2s ;
}
.flightText{
    color: var(--mainGreen);
    margin : 0 0.6rem;
    font-size: 1.3rem;
}
.secondaryFlightText{
    color : var(--secondaryGrey);
    margin : 0 0.6rem;
}
.deleteBtn{
    color: var(--mainRed);
    margin : 0 0.6rem;
    font-size: 1.3rem;
}
.deleteBtn:hover{
    color : var(--darkRed);
}
.editBtn{
    color: var(--mainGreen);
    margin : 0 0.6rem;
    font-size: 1.3rem;
}
.editBtn:hover{
    color : var(--darkGreen);
    cursor: pointer;
}
.textInfo{
    color: var(--darkGreen);
    margin : 0 0.8rem;
    padding: 0 0.6rem;
    font-size: 1.3rem;
}
.boxSm{
    margin: 0.5rem;
}
.boxSm select{
    background-color: var(--mainGreen);
    color: white;
    padding: 0.5rem;
    width: 5rem;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    outline: none;
    cursor: pointer;
}