
.navigationSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
    border-bottom: solid 0.2rem var(--mainGreen);
}

.navigationHeader{
    font-size: 1.2rem !important;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
    background-color: var(--mainWhite);
    color: var(--mainGreen);
    text-transform: uppercase;
}
.navigationLogOut{
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    background-color: var(--mainWhite);
    color: var(--mainRed);
    text-transform: uppercase;
    text-align: center;
}
.navigationLogOut:hover{
    color: var(--darkRed);
    transition: all 1s linear;
}
.navigationItem{
    padding: 1rem;
    font-size: 1.3rem;
    margin: 1rem;
    cursor: pointer;
    background-color: var(--mainWhite);
    color: var(--mainGreen);
    text-transform: uppercase;
    text-align: center;
}
.navigationItem:hover{
    color: var(--secondaryGrey);
    transition: all 1s linear;
}

