
.navigationSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1.5rem;
    border-bottom: solid 0.1rem var(--mainGreen);
}

.navigationHeader{
    font-size: 1.2rem !important;
    text-align: center;
    margin: 1rem;
    cursor: pointer;
    background-color: var(--mainWhite);
    color: var(--mainGreen);
    text-transform: uppercase;
}
.navigationLogOut{
    padding: 1rem;
    margin: 1rem;
    cursor: pointer;
    background-color: var(--mainWhite);
    color: var(--mainGreen);
    text-transform: uppercase;
    text-align: center;
}
.navigationLogOut:hover{
    color: var(--mainRed);
    transition: all 1s linear;
}
.navigationItem{
    padding: 1rem;
    font-size: 1.1rem;
    margin: 1rem;
    cursor: pointer;
    background-color: var(--mainWhite);
    color: var(--mainGreen);
    text-transform: uppercase;
    text-align: center;
}
.navigationItem:hover{
    color: var(--lightRed);
    transition: all 1s linear;
}

